# Dossiers d'extraction temporaires (sources déjà intégrées dans temp-next/public)
Nouvelle infos a prendre/docx_extracted/
Nouvelle infos a prendre/Smash_extracted/
Nouvelle infos a prendre/Doc_Site_temp.zip
